@value colors: "styles/colors.css";
@value (orange-color, background-color, gray-color) from colors;
.container,
.selected {
    background-color: background-color;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid background-color;
}

.container:hover {
    border: 1px solid orange-color;
}

.selected {
    box-shadow: 0px 0px 30px rgba(252, 144, 13, 0.35);
    border: 1px solid orange-color;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header>img {
    width: 35px;
    height: fit-content;
}

.header>p {
    color: orange-color;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 35px;
    text-transform: capitalize;
}

.score {
    width: 90px;
    display: flex;
    justify-content: space-between;
}

.empty,
.fill {
    background-color: gray-color;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.fill {
    background-color: orange-color;
}