@value colors: "styles/colors.css";
@value (white-color, orange-color, background-color) from colors;
.nav {
    position: sticky;
    top: 0;
    background-color: background-color;
    z-index: 9999;
}

.nav> :global(.row) {
    max-width: 1440px;
    margin: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    color: white-color;
    width: 110px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.item:hover,
.item:global(.active) {
    color: orange-color;
}

.network {
    width: 30px;
    cursor: pointer;
}