@value colors: "styles/colors.css";
@value (background-color, white-color, black-color) from colors;
.container {
    padding: 80px 4rem;
}

.title {
    text-align: center;
    margin: 0px 0px 50px 0px;
}