@value colors: "styles/colors.css";
@value (background-color, white-color, black-color) from colors;
.main {
    background-color: background-color;
    padding: 3.5rem 0rem;
}

.about_me {
    padding: 0rem 4rem;
}

.image {
    margin-top: 100px;
}

.tags {
    display: flex;
    margin: 150px 0px 40px 0px;
}